html,body {
	background-color: $red;
}

$gradient-angel: 60deg;

.logo {
	top: calc(50% - #{$size}/2);
	left: calc(50% - #{$size}/2);
	width: $size;
	height: $size;
	position: fixed;
  z-index: 1;  
}
