h1, h2 {
  font-family: Lato;
}

@import 'variables.scss';
@import 'christmas.scss';

#ytplayer { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 125vw;
  min-height: 125vh;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
  z-index: -1;
}

.logo { 
  opacity: .75;
  transform: translateX(0) translateY(25);
  transition: 25s transform;
}

#error-screen-msg {
  display: none !important;
}